.container {
  background: rgb(16, 240, 16);
  border: 4px solid rgb(7, 141, 7);
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background: greenyellow;
  font-weight: bold;
  text-align: center;
  border: 6px solid green;
  width: 80px;
  height: 80px;
}